<?xml version="1.0" encoding="UTF-8"?>
<configuration>	
	<property scope="context" name="LOG_FILE" value="tcs_etm_api_log" />
	<property scope="context" name="UAT_LOG" value="C:/TCS/log" />
    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${UAT_LOG}/${LOG_FILE}.log</file>
        <append>true</append>
        <!-- Support multiple-JVM writing to the same log file -->
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${UAT_LOG}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Keep 180 days' worth of history -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%.6thread] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class.%M\(%F:%line\) - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.transaction.support" level="DEBUG" />
	
	<!-- # logs the SQL statements -->
	<logger name="org.hibernate.SQL" level="DEBUG" />
	
	<!-- # Logs the JDBC parameters passed to a query -->
	<logger name="org.hibernate.type" level="TRACE" />			
	<logger name="org.springframework.retry.support" level="TRACE"/>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILEOUT"/>
	</root>
</configuration>